@import './common';

@import './utils/general-styles';
@import './utils/variables';
@import './utils/font-face';

@import './partials/logo';
@import './partials/button';
@import './partials/navigation';
@import './partials/search-form';
@import './partials/film-status-filter';
@import './partials/header';
@import './partials/film-cards';
@import './partials/trailer';

@import './partials/footer';
@import './partials/footer-modal';
@import './partials/modal';
@import './partials/loader';

@import './partials/custom-pagination';
