<div class="backdrop1 hidden" data-footer-modal >
  
  <div class="modal1">
    
     <div class="popup-content">
      <div class="title-wrapper">
        <a class="ref-readme" href="https://mini-course-js.lp.goit.global" target="_blank" aria-label="Our Github">
          <img
            class="goitLogo"
            src="./images/logo.png"
            alt="GoIT"
            title="Our Github"
          />
        </a>
        <h2 lang="en" class="team-title">TEAM<span class="under">____</span>N'Ice code</h2>     
      </div>

      <ul class="team-list">

        <li class="team-card-list-item"> 
          <div class="container-title">       
          <img class="team team-foto" src="./images/team/Yuri.jpg" width="152" alt="team-member" />          
          <h2 class="team-name">
            <span class="under">-</span> Yuri <span class="under">-</span>
          </h2>
          <p class="team-discription">Team Lead</p>
          <a
            href="https://github.com/usai2005"
            target="_blank"
            aria-label="Our Github"
          >
          <svg class="git-logo" width="22" height="22"> <use href="./images/icons.svg#icon-github"></use></svg>                       
          </a></div>
        
        </li>           
         

        <li class="team-card-list-item">
          <div class="container-title">          
          <img class="team" src="./images/team/Aleksey.jpg" width="152" alt="team-member" />          
          <h2 class="team-name">
            <span class="under">-</span> Aleksey <span class="under">-</span> 
          </h2> 
          <p class="team-discription">Scrum Master</p> 
          <a
          href="https://github.com/Aleksey-Dr"
          target="_blank"
          aria-label="Our Github"
        >
        <svg class="git-logo" width="22" height="22"> <use href="./images/icons.svg#icon-github"></use></svg>                       
        </a></div>
        </li>                    
         
                
        <li class="team-card-list-item"><div class="container-title">          
        <img class="team" src="./images/team/Victoria.jpg" width="152" alt="team-member" />       
        <h2 class="team-name">
          <span class="under">-</span> Victoria <span class="under">-</span>
        </h2>
        <p class="team-discription">Fullstack Developer</p>
        <a
        href="https://github.com/Victoria-Fedkova"
        target="_blank"
        aria-label="Our Github"
      >
      <svg class="git-logo" width="22" height="22"> <use href="./images/icons.svg#icon-github"></use></svg>                       
      </a></div> 
        </li>     
    
 
        <li class="team-card-list-item"><div class="container-title">          
          <img class="team" src="./images/team/Julia.jpg" width="152" alt="team-member" />        
          <h2 class="team-name">
            <span class="under">-</span> Yulia <span class="under">-</span>
          </h2>
          <p class="team-discription">Fullstack Developer</p>
          <a
          href="https://github.com/YuliaPankiv"
          target="_blank"
          aria-label="Our Github"
        >
        <svg class="git-logo" width="22" height="22"> <use href="./images/icons.svg#icon-github"></use></svg>                       
        </a></div>
        </li>                                  
              

        <li class="team-card-list-item">
          <div class="container-title">       
          <img class="team team-foto" src="./images/team/Stanislav.jpg" width="152" alt="team-member" />         
          <h2 class="team-name">
            <span class="under">-</span> Stanislav <span class="under">-</span>
          </h2>
          <p class="team-discription">Fullstack Developer</p>
          <a
            href="https://github.com/stanislav-kintoriak"
            target="_blank"
            aria-label="Our Github"
          >
          <svg class="git-logo" width="22" height="22"> <use href="./images/icons.svg#icon-github"></use></svg>                       
          </a></div>
        </li>


        <li class="team-card-list-item"><div class="container-title">          
          <img class="team" src="./images/team/Daria.jpg" width="152" alt="team-member" />        
          <h2 class="team-name">
            <span class="under">-</span> Daria <span class="under">-</span>
          </h2>
          <p class="team-discription">Fullstack Developer</p>
          <a
            href="https://github.com/dariaaferreira"
            target="_blank"
            aria-label="Our Github"
          >
          <svg class="git-logo" width="22" height="22"> <use href="./images/icons.svg#icon-github"></use></svg>                       
          </a></div>
        </li>


        <li class="team-card-list-item"><div class="container-title">          
          <img class="team" src="./images/team/Kateryna.jpg" width="152" alt="team-member" />        
          <h2 class="team-name">
            <span class="under">-</span> Kateryna <span class="under">-</span>
          </h2>
          <p class="team-discription">Fullstack Developer</p>
          <a
            href="https://github.com/SydorenkoKateryna"
            target="_blank"
            aria-label="Our Github"
          >
          <svg class="git-logo" width="22" height="22"> <use href="./images/icons.svg#icon-github"></use></svg>                       
          </a></div>
        </li>


        <li class="team-card-list-item"><div class="container-title">          
          <img class="team" src="./images/team/Lyubov.jpg" width="152" alt="team-member" />        
          <h2 class="team-name">
            <span class="under">-</span> Lyubov <span class="under">-</span>
          </h2>
          <p class="team-discription">Fullstack Developer</p>
          <a
            href="https://github.com/lyubovkirpa"
            target="_blank"
            aria-label="Our Github"
          >
          <svg class="git-logo" width="22" height="22"> <use href="./images/icons.svg#icon-github"></use></svg>                       
          </a></div>
        </li>


        <li class="team-card-list-item"><div class="container-title">          
          <img class="team" src="./images/team/Mariia.jpg" width="152" alt="team-member" />        
          <h2 class="team-name">
            <span class="under">-</span> Mariia <span class="under">-</span>
          </h2>
          <p class="team-discription">Fullstack Developer</p>
          <a
            href=""
            target="_blank"
            aria-label="Our Github"
          >
          <svg class="git-logo" width="22" height="22"> <use href="./images/icons.svg#icon-github"></use></svg>                       
          </a></div>
        </li>


        <li class="team-card-list-item"><div class="container-title">          
          <img class="team" src="./images/team/Serhiy.jpg" width="152" alt="team-member" />        
          <h2 class="team-name">
            <span class="under">-</span> Serhiy <span class="under">-</span>
          </h2>
          <p class="team-discription">Fullstack Developer</p>
          <a
            href="https://github.com/Serhiy-Slipchuk"
            target="_blank"
            aria-label="Our Github"
          >
          <svg class="git-logo" width="22" height="22"> <use href="./images/icons.svg#icon-github"></use></svg>                       
          </a></div>
        </li>
   
      </ul> 

     <div class='modal-team-close' aria-label='closed'>
      <button class="modal-movie-close-button link" data-footer-modal-close > 
        <svg class="modal-movie-close-icon" width="20" height="20">
         <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button> 
     </div> 
      
    </div>
  </div>
</div>