<div class="container">
    <header class="header">
        <div class="header__top-thumb">
            <a href="/" class="logo__icon-anchor">
                <svg class="logo__icon--scroll">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
            </a>
            
            <div class="navigation">
                <button class="button button--navigation" id="home-btn" type="button">Home</button>
                <button class="button button--navigation" id="library-btn" type="button">Library</button>
            </div>
            <form class="search-form">
                <input class="search-form__input" placeholder=" ">
                <button class="search-form__btn">
                    <svg class="search-form__icon">
                        <use href="./images/icons.svg#icon-search"></use>
                    </svg>
                </button>
                <p class="search-form__message is-hidden">Search result not successful. Enter the correct movie name.</p>
            </form>
        </div>
        <div class="header__bottom-thumb">
            <div class="logo">
                <svg class="logo__icon">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
                <p class="logo__text">Filmoteka</p>
            </div>
            <div class="film-status-filter">
                <button class="button button--film-status-filter" id="watched-btn" type="button">Watched</button>
                <button class="button button--film-status-filter is-active" id="queue-btn" type="button">Queue</button>
            </div>
        </div>
    </header>
</div>