<!-- MAIN-GALLERY -->
<section class="section gallery">
    
    <div class="container gallery-container">
        <div class="main-gallery-oops"></div>

        <div class="gallery-wrapper">

            <ul class="movies-list list" data-modal-movie-open>
            </ul>             
        </div>

        <div class="paginationButtons">
                <div id="pagination" class="tui-pagination"></div>
        </div>

        
        
        <button class="ufive_uptop"></button>
    </div>
</section>