.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    border-radius: 100px;
    color: getColor('white');
    background-color: getColor('secondary-text');
    @media screen and (min-width: 768px) {
        padding: 12px 24px;
    }
    @media screen and (min-width: 1280px) {
        padding: 14px 32px;
    }

    &--navigation {
        padding: 10px 26px;
        color: getColor('primary-text');
        background-color: getColor('white');
    }
    &--navigation:not(:last-child) {
        margin-right: 4px;
        @media screen and (min-width: 1280px) {
            margin-right: 8px;
        }
    }
    &--navigation:hover,
    &--navigation:focus {
        color: getColor('white');
        background-color: getColor('primary-text');
    }

    
    &--film-status-filter {
        padding: 10px 24px;
        color: getColor('secondary-text');
        background-color: getColor('white');
    }
    &--film-status-filter:not(:last-child) {
        margin-right: 4px;
        @media screen and (min-width: 1280px) {
            margin-right: 8px;
        }
    }
    &--film-status-filter:hover,
    &--film-status-filter:focus {
        color: getColor('white');
        background-color: getColor('secondary-text');
        }
    }
