.movies-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 500px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 286px;
    }
  @media screen and (min-width: 1280px) {
    gap: 32px 16px;
    padding-top:380px;

  }
}
.movie-item {
  width: 280px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.movie-item__image {
  border-radius: 5px;
}

.movie-item__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  margin: 10px 0 6px 0;

  @media screen and (min-width: 768px) {
    line-height: calc(16 / 12);
    margin-top: 8px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: calc(24 / 20);
    margin-top: 12px;
  }
}

.movie-info {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: getColor('secondary-text');

  @media screen and (min-width: 768px) {
    line-height: calc(16 / 12);
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.main-gallery-oops {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 10px;
  padding-bottom: 20px;

  color: #000000b7;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 80px;

    font-size: 24px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 80px;
    padding-bottom: 120px;

    font-size: 30px;
  }
}

.main-gallery-oops img {
  width: 140px;

  @media screen and (min-width: 768px) {
    width: 270px;
  }

  @media screen and (min-width: 1280px) {
    width: 320px;
  }
}

.main-gallery-oops span {
  font-style: italic;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    letter-spacing: 0.1em;
  }

  @media screen and (min-width: 1280px) {
    letter-spacing: 0.2em;
  }
}
