:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  padding-top: 500px;
  @media screen and (min-width: 768px) {
    padding-top: 286px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 380px;
  }
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(240px, 336px));
  grid-template-rows: repeat(auto-fit, 443px);
  grid-row-gap: 20px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 336px);
    grid-template-rows: repeat(10, 495px);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(3, 395px);
    grid-template-rows: repeat(7, 634px);
    grid-column-gap: 16px;
    grid-row-gap: 32px;
  }

  & .movie-item {
    cursor: pointer;
    transition: all var(--animation-duration) var(--timing-function);
    &:hover {
      box-shadow: 0 15px 60px 5px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
    }
  }

  .movie-info-wrapper {
    padding-top: 10px;

    @media (min-width: 768px) {
      padding-top: 8px;
    }
    @media (min-width: 1280px) {
      padding-top: 12px;
    }

    & .movie-item__title {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.2;
      text-transform: uppercase;

      @media (min-width: 768px) {
        line-height: 1.3;
      }
      @media (min-width: 1280px) {
        font-size: 20px;
        line-height: 1.2;
      }
    }
    & .movie-info {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;
      color: getColor('secondary-text');

      @media (min-width: 1280px) {
        font-size: 20px;
        line-height: 1.2;
      }
    }
  }

  & img {
    display: block;
    width: 100%;
    height: 402px;
    object-fit: cover;
    border-radius: 5px;

    @media (min-width: 768px) {
      height: 455px;
    }
    @media (min-width: 1280px) {
      height: 574px;
    }
  }
}
