.footer {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 15;
  align-items: center;
  min-height: 77px;
  background-color: getColor('secondary-bg-color');
  @media screen and (max-width: 768px) {     
    min-height: 79px;      
  } 
  @media screen and (max-width: 320px) {     
    min-height: 100px;      
  } 
}

.footer-container {
  height: auto;
  // padding-top: 20px;
  // padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




.footer-box {  
    @media screen and (min-width: 320px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 12px;
    }
    @media screen and (min-width: 768px) {     
      margin-bottom: 0px;      
    } 
}

.footer-text {
  color: getColor('footer-text-color');
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 16px;
  text-align: center;
  margin-left: 4px;

  @media screen and (min-width: 320px) {    
    font-size: 14px;   
  }
}

.footer-link {
  text-decoration: underline;
  color: getColor('footer-text-color');
  &:hover,
  &:focus {
    text-shadow: #6b6f72 1px 0 10px;
    color: getColor('secondary-text');
  }
  border: 1px solid #0000;
  background-color: #0000;
  padding: 1px 0;
}

.footer-image { 
  align-items: center;
  margin: 0 6px;  
}