.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop1 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 400ms, visibility 400ms;
  display: flex;
  align-items: center;
  justify-content: center;
  
  z-index: 155;
 
}


.modal1 {
  // width: 100%;  
  height: 100%;
  max-height: 609px;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  // transition: transform 500ms;
  // transform: translate(-50%, -50%) scale(1) rotate(0);
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transition: transform 500ms;
  // transform: translate(-50%, -50%) scale(1) rotate(0);
 
  @media screen and (min-width: 1200px) {
    // max-width: 528px;
    // max-height: 581px;
  background-color: wheat;  
  }
  @media screen and (min-width: 1200px) {
    // max-width: 528px;
    // max-height: 581px;
  }
  @media screen and (max-height: 581px) {
    // max-width: 528px;
    // max-height: 609px;
  }
}

// .backdrop1.hidden .modal1 {
//   transform: scale(0.5) rotate(-100deg);
// }



.popup-content {
  background-color: white;
  color: black;
  max-width: 900px;
  height: auto;
  // height: 950px;
  padding: 10px;
  position: relative;
  border-radius: 15px; 
  
  transition: all 0.8s ease 0s;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .popup-content {
    margin: auto;
    width: 628px;
    // height: 1250px;
    // height: 850px;
  }
}
@media screen and (min-width: 1024px) {
  .popup-content {
    min-width: 900px;
  }
}
@media screen and (min-width: 767px) and (max-width: 320px) {
  .popup-content {
    padding-left: 10px;
    padding-right: 25px;
    height: 1600px;
    // height: 950px;
  }
}

.team-list {
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // grid-row-gap: 4%;
  gap: 20px;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .team-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 766px) {
  .team-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-gap: 5%;
    
  }
}
@media screen and (max-width: 767px) {
  .team-list {
    // grid-row-gap: 2%;
    gap: 20px;

  }
}

.title-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .title-wrapper {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .title-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.team-title {
  font-size: 20px;  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    line-height: 1.16;
    margin-bottom: 20px;
    @media screen and (min-width: 1024px) {
      margin-top: 10px;
      margin-bottom: 40px;
      font-size: 28px;
    }
  }
}

.team-name {
  font-size: 18px;
  // font-size: inherit;
  font-weight: 300;
  
  @media screen and (max-width: 320px) {
    font-size: 15px;
  }
}

.under {
  color: getColor('secondary-text');
  font-weight: bold;
  font-size: 18px;
}
.goitLogo {
  height: 24px;
  width: 65px;
  margin-right: 10px;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    height: 23px;
    width: 65px;
    margin-right: 15px;
  }
  @media screen and (min-width: 1024px) {
    height: 24px;
    width: 80px;
    margin-right: 15px;
  }
}
.team {
  border-radius: 15px;
  padding-bottom: 5%;
}
.team-discription {
  font-size: 16px;
  font-weight: bold;  
  padding-top: 3%;
  padding-bottom: 3%;
  @media screen and (max-width: 320px) {
    font-size: 14px;
  }
}
.container-title {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.team-foto {
  height: 162px;  
  @media screen and (max-width: 320px) {
    height: 136px;
  }
}

.team-card-list-item {
  width: 100%;
}