.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: 500ms all;
    opacity: 1;
    visibility: visible;
  
  .loader {
    position: absolute;
    width: 75px;
    height: 75px;
    border: 10px solid #ffffff;
    border-radius: 50%;
    border-top-color: #B92F2C;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
  }

  &.done {
    opacity: 0;
    visibility: hidden;
  }
}

  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }