.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    
    &__icon {
        width: 32px;
        height: 32px;
        margin-right: 8px;
        @media screen and (min-width: 768px) {
            width: 40px;
            height: 40px;
        }
        @media screen and (min-width: 1280px) {
            margin-right: 16px;
            width: 59px;
            height: 59px;
        }
    }
    
    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 1.19;
        color: getColor('white');
        @media screen and (min-width: 768px) {
            font-size: 40px;
            line-height: 1.17;
        }
        @media screen and (min-width: 1280px) {
            font-size: 64px;
        }
    }
}