.search-form {
    position: relative;

    margin-top: 8px;
    @media screen and (max-width: 767px) {
        width: 100%;
        max-width: 252px;
        }

    @media screen and (min-width: 768px) {
        max-width: 165px;
        margin-top: 0;
        margin-right: 4px;
    }
    @media screen and (min-width: 1280px) {
        max-width: 187px;
        margin-right: 8px;
    }

    &.is-hidden {
        display: none;
    }

    &__input {
        display: block;
        padding: 10px 14px;
        font-size: 12px;
        line-height: 1.17;
        border: 0;
        border-radius: 100px;
        transition: all 0.35s ease-out;

        @media screen and (max-width: 767px) {
            width: 100%;
            max-width: 252px;
            }
        @media screen and (min-width: 768px) {
            width: 165px;
            padding: 11px 16px;
            font-size: 14px;
            line-height: 1.14;
        }
        @media screen and (min-width: 1280px) {
            width: 187px;
            padding: 13px 16px;
        }

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: transparent;
          }
    }

    &__btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        width: 34px;
        height: 34px;
        border: 0;
        border-radius: 100px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.35s ease-out;

        @media screen and (min-width: 768px) {
            width: 38px;
            height: 38px;
        }
        @media screen and (min-width: 1280px) {
            width: 42px;
            height: 42px;
        }
    }

    &__btn:hover {
        transform: scale(1.4);
    }

    &__icon {
        width: 14px;
        height: 14px;
        @media screen and (min-width: 768px) {
            width: 16px;
            height: 16px;
        }
    }

    &__message {
        max-width: 155px;
        margin-top: 8px;
        margin-left: 14px;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 1.2;
        color: getColor('white');

        @media screen and (min-width: 768px) {
            max-width: 135px;
            margin-left: 16px;
        }
        @media screen and (min-width: 1280px) {
            max-width: 155px;
        }
    }

    &__message.is-hidden {
        display: none;
    }
}